@import "tailwindcss";
@plugin "daisyui";

body{
    background-color: white;
}


@theme {
    --color-heading: #545454;
    --color-title: #333333;
    --color-description: #8A8A8A;
    --color-button-background: #FDB515;
    --color-common-background: #FFF8ED;
}